<app-loader class="loader" *ngIf="loader.loading$| async"></app-loader>
<ng-container *ngIf="guildData.guildData$ | async as guild">
  <ng-container *ngIf="guild && guild?.active; else elseBlock">
    <div class="guild">
      <div class="guild-card">
        <img src="{{ guild?.logoUrl }}" alt="" class="guild-card-img">
        <h3 class="guild-card-name">{{ guild?.name }}</h3>
        <h4 class="guild-card-world">Mundo: {{ guild?.world }}</h4>
        <h4 class="guild-card-title-description">Descrição:</h4>
        <div class="guild-card-container-description">
          <p class="guild-card-container-description-desc">
            {{ guild?.description }}
          </p>
        </div>
        <p class="guild-card-date">Data de Criação: {{ guild?.founded | date: 'dd/MM/yyyy' }} </p>
        <p class="guild-card-players-online">Jogadores Online: {{ guild?.playersOnline }} </p>
        <p class="guild-card-players-offline">Jogadores Offline: {{ guild?.playersOffline }} </p>
        <p class="guild-card-total-members">Total de membros: {{ guild?.totalMembers }} </p>
      </div>
      <app-guild-member-card [members]="guild?.members"></app-guild-member-card>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div class="else-block" *ngIf="guild && !guild?.active ">
      <h1>Não existe uma guilda com este nome</h1>
    </div>
  </ng-template>
</ng-container>


