<section class="w-full">
  <cdk-virtual-scroll-viewport
    itemSize="20"
    class="creature-viewport">
      <div *cdkVirtualFor="let creature of creatures()" class="creature-item">
        <a
          routerLink="/criaturas/detalhes/{{ creature?.race }}"
          class="flex flex-col justify-center items-center w-full hover:scale-110 transition-transform duration-300"
          [title]="creature?.name">
          <img [src]="creature?.image" alt="Criatura" class="w-16">
          <p class="w-full text-center text-sm font-700 text-primary truncate">{{ creature?.name }}</p>
        </a>
      </div>
  </cdk-virtual-scroll-viewport>
</section>
