<section>
  <form [formGroup]="creatureFormService.creatureForm" (ngSubmit)="submitForm()" class="creature-search-form" #formDir="ngForm">
    <label for="search" class="creature-search-form-label">Criatura:</label>
    <input
      type="text"
      class="creature-search-form-input"
      placeholder="Pesquise a criatura"
      id="search"
      name="search"
      formControlName="creatureName"
    >
    <input type="submit" class="creature-search-form-submit">
  </form>

  @if (
    creatureFormService.creatureName.invalid &&
    formDir.submitted &&
    (creatureFormValidation | async) &&
    creatureFormService.creatureName.errors?.['required']
    ) {
    <div class="error-message">
      <span>O nome da criatura é obrigatório!</span>
    </div>
  }
</section>


