@import '../../../../../scss/variables.scss';

.bosses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;

  &-title {
    color: $color-dark-brown;
    margin: 1em 0;
  }

  &-number {
    margin: 1em 0;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    height: 300px;
    overflow: auto;
    border: 15px solid;
    border-image-source: url('../../../../../assets/images/newsheadline_background.gif');
    border-image-slice: 10;
    border-image-repeat: round;

    &-card {
      width: 15%;
      height: 100px;
      margin: 1em;
      border-radius: 15px;
      text-align: center;
      transition: 0.5s;

      &:hover {
        transform: scale(1.3);
      }

      &-img {
        width: 4.3em;
      }

      &-name {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: $color-dark-brown;
      }
    }
  }
}

@media (max-width: 700px) {

  .bosses {
    height: 100vh;

    &-list {
      width: 90%;
      margin: auto;
      height: 450px;
      overflow: auto;
      border: 7px solid;
      border-image-source: url('../../../../../assets/images/newsheadline_background.gif');
      border-image-slice: 10;
      border-image-repeat: round;

      &-card {
        width: 25%;
        height: 100px;
      }
    }
  }
}

@media (max-width: 1000px) and (min-width: 701px) {

  .bosses {
    row-gap: 60px;
    height: 82vh;
    &-list {
      width: 90%;
      height: 900px;
      overflow: auto;
      border: 7px solid;
      border-image-source: url('../../../../../assets/images/newsheadline_background.gif');
      border-image-slice: 10;
      border-image-repeat: round;

      &-card {
        width: 30%;
        height: 100px;
      }
    }
  }
}
