@import '../../../../../scss/variables.scss';

.character-search-form {

  &-label {
    font-size: 20px;
  }

  &-input {
    margin: 0 1em;
    padding: .5em 4em;
    border-radius: 10px;
    border: 2px solid $color-chocolate;
    background-color: $color-dark-brown;
    color: $color-white;

    &::placeholder {
      background: url('../../../../../assets/images/search.png') no-repeat;
      background-position: 5px;
      padding: 1em 2em;
    }
  }

  &-submit {
    padding: .5em 1.5em;
    font-size: 16px;
    background-color: $color-dark-brown;
    color: $color-white;
    border-radius: 15px;
    border: 1px solid;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $color-chocolate;
      transform: scale(1.1);
    }
  }
}

@media (max-width: 700px) {

  .character-search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
  }
}
