<section class="home">
  <h1 class="home-title">Bem-vindo ao Tibia API</h1>
  <p class="home-description">
    Tibia é um jogo eletrônico de RPG multijogador (MMORPG) gratuito, desenvolvido pela CipSoft.
    Criado em 1997, é um dos jogos mais antigos do gênero. Nele, os jogadores podem desenvolver
    as habilidades de seus personagens, buscar tesouros, resolver enigmas e explorar áreas como cidades,
    masmorras, florestas, desertos, ilhas, praias, minas, etc Os personagens podem disputar lutas
    entre si ou com criaturas tais como monstros, dragões, demônios, orcs, utilizando armas e magias,
    enquanto os NPCs não podem ser atacados.
  </p>
  <img src="../../../../../assets/images/img-home.jpg" alt="Foto Tibia" class="home-img">
  <p class="home-description">
   Este projeto oferece diversas informações como criaturas, bosses, personagens, guildas e
   mundos(servidores). Para usufruir das informações, navegue pela barra de navegação superior
   na página de "Categorias".
  </p>
</section>
