<section class="flex flex-col items-center justify-center gap-4 p-2 leading-6 tracking-tight">
  <header>
    <h1 class="text-3xl">Bem-vindo(a) ao Tibia API</h1>
  </header>

  <article class="flex flex-col items-center gap-4">
    <p>
      Tibia é um jogo eletrônico de RPG multijogador (MMORPG) gratuito, desenvolvido pela CipSoft.
      Criado em 1997, é um dos jogos mais antigos do gênero. Nele, os jogadores podem desenvolver
      as habilidades de seus personagens, buscar tesouros, resolver enigmas e explorar áreas como cidades,
      masmorras, florestas, desertos, ilhas, praias, minas, etc. Os personagens podem disputar lutas
      entre si ou com criaturas tais como monstros, dragões, demônios e orcs, utilizando armas e magias,
      enquanto os NPCs não podem ser atacados.
    </p>

    <figure class="text-center">
      <img
        src="/assets/images/tibia-bg.jpg"
        alt="Arte do jogo Tibia mostrando uma mulher em uma cidade"
        class="rounded-2xl m-auto">
      <figcaption>Imagem representativa do mundo do Tibia.</figcaption>
    </figure>

    <p>
      Este projeto oferece diversas informações como criaturas, bosses, personagens, guildas e
      mundos (servidores). Para usufruir das informações, navegue pelo menu lateral".
    </p>
  </article>
</section>
