<form [formGroup]="guildForm" (ngSubmit)="submitForm()" class="guild-search-form" #formDir="ngForm">
  <label for="search" class="guild-search-form-label">Guilda:</label>
  <input
    type="text"
    class="guild-search-form-input"
    placeholder="Pesquise a Guilda"
    id="search"
    name="search"
    formControlName="guildName"
  >
  <input type="submit" class="guild-search-form-submit">

  <div class="error-message" *ngIf="guildName.invalid && formDir.submitted && (guildFormValidation | async)">
    <span *ngIf="guildName.errors?.['required']">O nome da guilda é obrigatório!</span>
  </div>
</form>
