@import '../../../../../scss/variables.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-dark-brown;
  border: 8px solid;
  border-radius: 15px;
  border-image-source: url('../../../../../assets/images/newsheadline_background.gif');
  border-image-slice: 10;
  border-image-repeat: round;
  width: 50%;
  margin: 3em auto;
  padding: 3em;
  color: $color-white;

  &-title {
    font-size: 32px;
  }

  &-description {
    line-height: 25px;

    &-link {
      color: $color-white;
      transition: 0.2s;

      &:hover {
        color: $color-light-brown;
      }
    }
  }

  &-img {
    width: 600px;
    height: 360px;
    border-radius: 15px;
    margin: 1em 0;
  }
}

@media (max-width: 700px) {
  .about {
    width: 60%;

    &-title {
      font-size: 24px;
    }

    &-img {
      width: 295px;
      height: 310px;
      margin: 2em 0;
    }
  }
}

@media (max-width: 1000px) and (min-width: 701px) {

  .about {
    width: 80%;
    height: 60%;
    row-gap: 30px;

    &-title {
      font-size: 40px;
    }

    &-description {
      font-size: 22px;
    }

    &-img {
      height: 550px ;
    }
  }
}
