@import '../../../../../scss/variables.scss';

.header {
  background-color: $bg-color-blue-opacity;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;

  &-logo-title {
    display: flex;
    align-items: center;
    color: $color-light-blue;
  }

  &-nav {
    display: flex;
    margin: 0 2em;

    &-item {
      padding: 1em;
      font-size: 26px;
      color: $color-light-blue;
      cursor: pointer;

      &:hover {
        color: $color-gray;
      }
    }

    &-checkbox {
      display: none;

      &:checked~.header-nav-list {
        display: block;
      }
    }

  }

  &-nav-list {
    display: none;
    background-color:$bg-color-blue-opacity;
    color: $color-light-blue;
    padding: 1.5em;
    position: absolute;
    right: 11%;
    bottom: 43%;
    border-radius: 15px;
    width: 10vw;

    &-item {
      margin: .5em;
      font-size: 22px;
    }
  }

  &-img {
    width: 100px;
    height: 100px;
    margin: 1em;
  }
}
