<header class="header">
  <div class="header-logo-title">
    <img class="header-img" src="../../../../../assets/images/logotibia.png" alt="Logo Site" />
    <h1 class="header-title">TIBIA API</h1>
  </div>
  <div class="header-nav">
    <p class="header-nav-item">
      <a href="" class="header-nav-item-link" routerLink="/inicio">Início</a>
    </p>
    <input type="checkbox" id="header-nav-checkbox" class="header-nav-checkbox">
    <label for="header-nav-checkbox">
      <p class="header-nav-item">Categorias</p>
    </label>
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <a class="header-nav-list-link" href="">Criaturas</a>
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-link" href="">Bosses</a>
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-link" href="">Personagens</a>
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-link" href="">Guildas</a>
      </li>
      <li class="header-nav-list-item">
        <a class="header-nav-list-link" href="">Mundos</a>
      </li>
    </ul>
    <p class="header-nav-item">
     <a href="" class="header-nav-item-link">Sobre</a>
    </p>
  </div>
</header>
