@import '../../../../../css/variables.css';

.creature-search {
  display: flex;
  align-items: center;
  flex-direction: column;

  &-loader {
    margin-top: 3em;
  }

  &-card {
    margin: 2em;
    text-align: center;

    &-img {
      width: 130px;
      height: 130px;
    }

    &-title {
      margin-bottom: .5em;
    }

    &-description {
      margin: .5em 0;
      text-align: justify;
      height: 80px;
      overflow-y: auto;
      padding: 16px;
    }

    &-behavior {
      margin: .5em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: .5em;
    }

    &-span {
      font-weight: 700;
      color: $color-dark-brown;
      font-size: 20px;
    }

    &-exp {
      margin: .5em 0;
    }

    &-icon {
      margin-right: .5em;

      &-heart {
        color: $color-red;
      }
    }
  }

  .else-title {
    margin: 2em 0;
  }
}

@media (max-width: 700px) {

  .creature-search {

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 16px;
    }
  }
}

@media (min-width: 701px) {

  .creature-search {

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 24px;

      &-description {
        margin: .5em 0;
        font-size: 20px;
        text-align: justify;
        height: 80px;
        overflow-y: hidden;
        padding: 16px;
      }

      &-behavior {
        font-size: 20px;
      }

      &-span {
        font-size: 20px;
      }

      &-exp {
        font-size: 20px;
      }

      &-loot {
        font-size: 20px;
      }
    }
  }
}
