<section class="creature-search">
  <app-loader class="creature-search-loader" *ngIf="isLoading"></app-loader>
  <div class="creature-search-card" *ngIf="creature && creature?.name; else elseBlock">
    <img class="creature-search-card-img" src="{{creature.image}}" alt="">
    <h3 class="creature-search-card-title">
      <span class="creature-search-card-span">Nome:</span> {{ creature.name }}
    </h3>
    <div class="creature-search-card-description">
      <p>
        <span class="creature-search-card-span">Descrição:</span> {{ creature.description }}
      </p>
    </div>
    <ul class="creature-search-card-behavior">
      <li *ngIf="creature?.immune">
        <span
          class="creature-search-card-span">
          Imunidade:
        </span>
        {{ formatList(creature.immune) }}
      </li>
      <li *ngIf="creature?.strong">
        <span
          class="creature-search-card-span">
          Forte contra:
        </span>
        {{ formatList(creature.strong) }}
      </li>
      <li *ngIf="creature?.weakness">
        <span
          class="creature-search-card-span">
          Fraqueza:
        </span>
        {{ formatList(creature.weakness) }}
      </li>
    </ul>
    <p class="creature-search-card-hp">
      <fa-icon class="creature-search-card-icon creature-search-card-icon-heart"
        [icon]="faHeart">
      </fa-icon>
      <span class="creature-search-card-span">HP:</span> {{ creature.hitpoints }}
    </p>
    <p class="creature-search-card-exp">
      <fa-icon class="creature-search-card-icon" [icon]="faHatWizard"></fa-icon>
      <span class="creature-search-card-span">Pontos de Experiência:</span> {{ creature.experiencePoints }}
    </p>
    <p class="creature-search-card-loot">
      <fa-icon class="creature-search-card-icon" [icon]="faBox"></fa-icon>
      <span class="creature-search-card-span">Loot:</span> {{ formatList(creature.lootList) }}
    </p>
  </div>
  <ng-template #elseBlock>
    <div *ngIf="creature && !creature.name ">
      <h1 class="else-title" >Não existe uma criatura com este nome!</h1>
    </div>
  </ng-template>
</section>

