<section class="flex flex-col justify-center items-center gap-2">
  <header>
    <h1 class="text-2xl font-700">Lista de Criaturas</h1>
  </header>
  <article class="flex flex-col justify-center items-center gap-2">
    <h2>
      Nesta seção você pode conferir todas as criaturas disponíveis no Tibia.
      Caso queira procurar uma criatura específica pelo nome,
      <a
        routerLink="/criaturas/pesquisa"
        class="font-700"
        >
        Clique aqui!
      </a>
    </h2>
    <p>
      Caso queira visualizar uma lista de bosses,
      <a routerLink="/criaturas/bosses" class="font-700">Clique aqui!</a>
    </p>
    <p>Número de criaturas na lista: {{ (creaturesList()).length }}</p>

    @if (loaderService.loading()) {
      <app-loader></app-loader>
    } @else {
      <app-creatures-list
        class="w-full"
        [creatures]="creaturesList()"
      >
      </app-creatures-list>
    }
  </article>
</section>
