<section class="creatures">
    <h1 class="creatures-title">Lista de Criaturas</h1>
    <p class="creatures-paragraph">
      Nesta seção você pode conferir todas as criaturas disponíveis no Tibia.
      Caso queira procurar uma criatura específica pelo nome,
      <a routerLink="/criaturas/pesquisa" class="creatures-link">Clique aqui!</a>
    </p>
    <p class="creatures-paragraph">
      Caso queira visualizar uma lista de bosses,
      <a routerLink="/criaturas/bosses" class="creatures-link">Clique aqui!</a>
    </p>
    <p class="creatures-paragraph">Número de criaturas na lista: {{ visibleCreatures.value.length }}</p>
    <app-loader *ngIf="(isLoading | async)"></app-loader>
    <app-creatures-list
      *ngIf="!(isLoading | async)"
      [visibleCreatures]="visibleCreatures | async"
    >
    </app-creatures-list>
    <app-button [btnTitle]="btnTitle" (click)="loadNextPageOfCreatures()"></app-button>
</section>


