<footer class="footer">
  <ul class="footer-list">
    <li>
      <a class="footer-link" href="https://github.com/eduvinicius" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
    <li>
      <a class="footer-link" href="https://www.linkedin.com/in/eduardo-viniciusb/" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
    <li>
      <a class="footer-link" href="https://www.instagram.com/eduviniciusb/" target="_blank">
        <fa-icon [icon]="faInstagramSquare"></fa-icon>
      </a>
    </li>
  </ul>
</footer>
