.guild {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: .5em;
  height: 170vh;
  margin-top: 1em;
}

@media (max-width: 700px) {

  .guild {
    margin: 16px 8px;
    text-align: justify;
  }
}
