.guild {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: .5em;
  height: 140vh;
  margin-top: 2em;
}

@media (max-width: 399px) {

  .guild {
    height: 180vh;
    margin: 16px 8px;
    text-align: justify;
  }
}

@media (max-width: 700px) and (min-width: 400px) {

  .guild {
    height: 160vh;
    margin: 16px 8px;
    text-align: justify;
  }
}

