<form [formGroup]="charForm.characterForm" class="character-search-form" (ngSubmit)="submitForm()" #formDir="ngForm">
  <label for="search" class="character-search-form-label">Personagem:</label>
  <input
    type="text"
    class="character-search-form-input"
    placeholder="Digite o nome"
    id="search"
    name="search"
    formControlName="charName"
  >
  <input type="submit" class="character-search-form-submit">

  <!-- <div class="error-message" *ngIf="charForm.charName.invalid && formDir.submitted && (charForm.charFormValidation$ | async)">
    <span *ngIf="charForm.charName.errors?.['required']">O nome do personagem é obrigatório!</span>
  </div> -->
</form>
