@import '../../../../../scss/variables.scss';

.online-players {
  width: 500px;
  padding: 1em .5em;
  border: 10px solid;
  border-image-source: url('../../../../../assets/images/title-background-green.gif');
  border-image-slice: 10;
  border-image-repeat: round;
  border-spacing: 2px;
  margin: 32px 0;

  &-title {
    margin: 32px 0;
    font-size: 26px;
    font-weight: bold;
  }

  &-body {

    &-data {
      text-align: center;

      &:nth-child(even) {
      background-color: $color-light-brown;
      }
    }
  }
}
