@import '../../../../../scss/variables.scss';

.title {
  text-align: center;
}

.guild-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60em;
  height: 20em;
  overflow-y: auto;
  margin: 1em;

  &-card {

    width: 25%;
    background-color: $color-sienna;
    margin: 1em;
    padding: .8em 0;
    border-radius: 15px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: .3em;

      &:hover {
        color: $color-dark-brown;
      }
    }
  }

  .online {
    font-weight: 700;
    color: $color-green;
  }

  .offline {
    font-weight: 700;
    color: $color-dark-red;
  }
}
