<section class="creature-search">
  <app-loader class="creature-search-loader" *ngIf="isLoading"></app-loader>
  <div class="creature-search-card" *ngIf="creature | async as creature; else elseBlock">
    <ng-container *ngIf="creature.name; else elseBlock">
      <img class="creature-search-card-img" src="{{creature.image}}" alt="">
      <h3 class="creature-search-card-title">
        <span class="creature-search-card-span">Nome:</span> {{ creature.name }}
      </h3>
      <div class="creature-search-card-description">
        <p>
          <span class="creature-search-card-span">Descrição:</span> {{ creature.description }}
        </p>
      </div>
      <ul class="creature-search-card-behavior">
        <li *ngIf="creature?.immune">
          <span
            class="creature-search-card-span">
            Imunidade:
          </span>
          {{ creature.immune | formatList }}
        </li>
        <li *ngIf="creature?.strong">
          <span
            class="creature-search-card-span">
            Forte contra:
          </span>
          {{ creature.strong | formatList }}
        </li>
        <li *ngIf="creature?.weakness">
          <span
            class="creature-search-card-span">
            Fraqueza:
          </span>
          {{ creature.weakness | formatList }}
        </li>
      </ul>
      <p class="creature-search-card-hp">
        <span class="creature-search-card-span">HP:</span> {{ creature.hitpoints }}
      </p>
      <p class="creature-search-card-exp">
        <span class="creature-search-card-span">Pontos de Experiência:</span> {{ creature.experiencePoints }}
      </p>
      <p class="creature-search-card-loot">
        <span class="creature-search-card-span">Loot:</span> {{ creature.lootList | formatList }}
      </p>
    </ng-container>
  </div>
  <ng-template #elseBlock>
    <div *ngIf="creature | async as creature">
      <ng-container *ngIf="!creature.name">
        <h1 class="else-title" >Não existe uma criatura com este nome!</h1>
      </ng-container>
    </div>
  </ng-template>
</section>

