<section class="flex flex-col items-center justify-center gap-3 w-[80%] mx-auto">
  @if (loadingService.loading()) {
    <app-loader class=""></app-loader>
  }
  @if (creature() && hasCreature()) {
    <img class="w-30 h-30" src="{{creature()?.image}}" [alt]="creature()?.name" />
    <p>
      <span class="text-primary">Nome:</span>
      {{ creature()?.name }}
    </p>
    <p>
      <span class="text-primary">Descrição:</span> {{ creature()?.description }}
    </p>
    <div>
      <div class="grid grid-cols-12 items-center w-full text-center text-primary text-xl border border-primary ">
        <p class="col-span-2">Imunidade</p>
        <p class="col-span-2">Fortes contra</p>
        <p class="col-span-2">Fraqueza</p>
        <p class="col-span-1">HP</p>
        <p class="col-span-2">Pontos de XP</p>
        <p class="col-span-3">Loot</p>
      </div>
      <div class="grid grid-cols-12 items-center w-full text-center border border-primary rounded-md">
        <p class="col-span-2">{{ creature()?.immune ?? [] | formatList }}</p>
        <p class="col-span-2">{{ creature()?.strong ?? [] | formatList }}</p>
        <p class="col-span-2">{{ creature()?.weakness ?? [] | formatList }}</p>
        <p class="col-span-1">{{ creature()?.hitpoints }}</p>
        <p class="col-span-2">{{ creature()?.experiencePoints }}</p>
        <p class="col-span-3">{{ creature()?.lootList ?? [] | formatList }}</p>
      </div>
    </div>
  } @else if (creature() && creature() !== null) {
    <h1 class="text-primary text-nowrap" >Não existe uma criatura com este nome!</h1>
  }
</section>

