<table class="world-table" *ngIf="worlds">
  <caption class="world-table-title">Mundos</caption>
  <tbody class="world-table-body">
    <tr class="world-table-body-head">
      <th>Nome</th>
      <th>Jogadores Online</th>
      <th>Localidade</th>
      <th>Tipo de PVP</th>
      <th>Premium</th>
    </tr>
    <tr class="world-table-body-data" *ngFor="let world of worlds">
      <a routerLink="/mundos/detalhes/{{ world.name }}">
        <td>{{ world.name }}</td>
      </a>
      <td>{{ world.players_online }}</td>
      <td>{{ world.location }}</td>
      <td>{{ world.pvp_type }}</td>
      <td>{{ world.status }}</td>
    </tr>
  </tbody>
</table>
