@import '../../../../../scss/variables.scss';

.loader {
  display: flex;
  justify-content: center;
}

.world-table {
  width: 70em;
  padding: 1em .5em;
  border: 10px solid;
  border-image-source: url('../../../../../assets/images/title-background-green.gif');
  border-image-slice: 10;
  border-image-repeat: round;
  border-spacing: 2px;

  &-title {
    font-size: 26px;
    font-weight: bold;
    margin: 1em 0;
  }

  &-body {

    &-data {
      text-align: center;

      &:nth-child(even) {
      background-color: $color-light-brown;
      }
    }
  }

  .online {
    color: $color-green;
  }

  .offline {
    color: $color-red;
  }
}

@media (max-width: 700px) {

  .world-table {
    width: 200px;
    padding: 16px 0;
    border: 7px solid;
    border-image-source: url('../../../../../assets/images/title-background-green.gif');
    border-image-slice: 10;
    border-image-repeat: round;

    &-body {

      &-data {
        text-align: center;

        &:nth-child(even) {
        background-color: $color-light-brown;
        }

        &-desc {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 1000px) and (min-width: 701px) {

  .world-table {
    width: 700px;
  }
}
