<app-loader class="loader" *ngIf="isLoading"></app-loader>
<table class="world-table" *ngIf="worlds && !isLoading">
  <caption class="world-table-title">Mundos</caption>
  <tbody class="world-table-body">
    <tr class="world-table-body-head">
      <th>Nome</th>
      <th>Jogadores Online</th>
      <th>Localidade</th>
      <th>Tipo de PVP</th>
      <th>Premium</th>
    </tr>
    <tr class="world-table-body-data" *ngFor="let world of worlds">
      <a routerLink="/mundos/detalhes/{{ world.name }}">
        <td class="world-table-body-data-desc">{{ world.name }}</td>
      </a>
      <td class="world-table-body-data-desc">{{ world.players_online }}</td>
      <td class="world-table-body-data-desc">{{ world.location }}</td>
      <td class="world-table-body-data-desc">{{ world.pvp_type }}</td>
      <td class="world-table-body-data-desc">{{ world.status }}</td>
    </tr>
  </tbody>
</table>
